<ul>

  <% if job['description'] && job['description'] != "" %>
    <li>
      <h4>Description</h4>
      <span>
      <%= job['description'] %>
      </span>
    </li>
  <% end %>

  <% if job['healthReport'] && job['healthReport'].length != 0 %>
    <li>
      <h4>Health</h4>
      <span>
      <% job['healthReport'].each do |health| %>
        <%= health['description'] %> | Score of <%= health['score'] %>
      <% end %>
      </span>
    </li>
  <% end %>

  <% if job['lastStableBuild'] %>
    <li<%= ' class=" buildFailed"' if job['lastCompletedBuild']["number"] != job['lastStableBuild']["number"] %>>
      <h4>Last Stable</h4>
      <span>
        <a href="<%= job['lastStableBuild']["url"] %>"><%= job['lastStableBuild']["number"] %></a>
      </span>
    </li>
  <% else %>
    <li class="buildFailed">
      <h4>Last Stable</h4>
      <span>
        No Stable Builds
      </span>
    </li>
  <% end %>

  <% if job['lastCompletedBuild'] %>
    <li>
      <h4>Last Complete</h4>
      <span>
      <a href="<%= job['lastCompletedBuild']["url"] %>"><%= job['lastCompletedBuild']["number"] %></a>
      </span>
    </li>
  <% end %>

  <li>
    <h4>Address</h4>
    <span>
      <%= job['hudson_host'] %>
    </span>
  </li>

  <% if job['color'] == "blue" %>
    <% require 'net/http'; require 'uri' %>
    <% res = Net::HTTP.get URI.parse("http://#{job['hudson_host']}/job/#{URI.escape(job['name'])}/#{job['lastCompletedBuild']["number"]}/changes") %>
    <% if res.to_s.match(/by \<a href="\/user\/([^\/]*)\//) != nil %>
      <li>
        <h4>Last commit by:</h4>
        <span><%= res.to_s.match(/by \<a href="\/user\/([^\/]*)\//)[1] %></span>
      </li>
    <% end %>
  <% end %>

</ul>