<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8" />
  <title>Build Dashboard</title>
  <link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/colours.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/nav.css" type="text/css" />
  <script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.masonry.min.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>
  </head>
<body>
  <section id="content">
    <% @builds_details.each do |server| %>
      <% server.each do |job| %>
        <% if job['healthReport'] && job['healthReport'].length != 0 %>
          <% job['healthReport'].each do |health| %>
            <% @build_score =  health['score'] %>
          <% end %>
        <% end %>
      
        <article class="<%= job['color'] %> build<%= @build_score %>">
          <header>
            <h1><a href="<%= job['url'] %>"><%= job['displayName'] %></a></h1>
          </header>
          <%= partial 'dashboard/build_stats', :locals => {:job => job } %>
          <%= partial 'dashboard/details', :locals => {:job => job } %>
          <%= partial 'dashboard/committer_details', :locals => {:job => job } %>
          <%= partial 'dashboard/description', :locals => {:job => job } %>
        </article>
      <% end %>
    <% end %>
    <% unless (@tramtracker_to_city.body =~ /<li><span style="float: right; text-align: right; padding-right: 10px;">10:00am<\/span><span>: <\/span><\/li>/) || ( @tramtracker_from_city.body =~ /<li><span style="float: right; text-align: right; padding-right: 10px;">10:00am<\/span><span>: <\/span><\/li>/) %>
    <article class="tramtracker">
      <section class="to_city">
        <h2>To City</h2>
        <% unless @tramtracker_to_city.body =~ /<li><span style="float: right; text-align: right; padding-right: 10px;">10:00am<\/span><span>: <\/span><\/li>/ %>
          <%= @tramtracker_to_city.body %>
        <% end %>
      </section>
      <section class="to_city">
        <h2>From City</h2>
        <% unless @tramtracker_from_city.body =~ /<li><span style="float: right; text-align: right; padding-right: 10px;">10:00am<\/span><span>: <\/span><\/li>/ %>
          <%= @tramtracker_from_city.body %>
        <% end %>
      </section>
    </article>
  <% end %>
  </section>
  <nav>
    <h1><a href="/admin/" title="Administration">Hudson Global Dashboard Admin</a></h1>
  </nav>
</body>

</html>