<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8" />
  <title>Build Dashboard</title>
  <link rel="stylesheet" href="styles.css" type="text/css" />
  <script type="text/javascript" src="jquery-1.4.2.min.js"></script>
  </head>
<body>

  <% @builds_details.each do |server| %>
    <% server.each do |job| %>
      <article class="build <%= job['color'] %>"> 
        <section class="container">       
          <h2><a href="<%= job['url'] %>"><%= job['displayName'] %></a></h2>
          <% if job['color'] == "red" && job['lastSuccessfulBuild'] %>
            <% require 'net/http'; require 'uri' %>
            <% res = Net::HTTP.get URI.parse("#{job['hudson_host']}/job/#{URI.escape(job['name'])}/#{job['lastSuccessfulBuild']["number"] + 1}/changes") %>
            <h3>The build may have been broken by <%= res.to_s.match(/by \<a href="\/user\/([^\/]*)\//)[1] if res.to_s.match(/by \<a href="\/user\/([^\/]*)\//)  %></h3>
          <% end %>
          
          <%= partial 'dashboard/details', :locals => {:job => job } %>
        </section>
      </article>
    <% end %>
  <% end %>
  
  <nav>
    <h1><a href="/admin/" title="Administration">Hudson Global Dashboard Admin</a></h1>
  </nav>
  
  <script type="text/javascript">
    setTimeout('location.reload()', 30000);
    (function heightSorter() {
      windowH = $(window).height();
      docH = $(document).height();
      if ( docH == windowH ) {

        numberOfBuilds = $('article').size();
        newSize = (windowH / numberOfBuilds) - 20;
        $('article').height(newSize);
        $('ul').addClass("resizedList");
      }
    })()
    
  </script>
</body>

</html>