<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8" />
  <title>Build Dashboard</title>
  <link rel="stylesheet" href="styles.css" type="text/css" />
  <script type="text/javascript" src="jquery-1.4.2.min.js"></script>
  </head>
<body>
  <script type="text/javascript">
    setTimeout('location.reload()', 30000);
  </script>

  <% @builds.each do |single_job| %>
    <% job = OpenStruct.new single_job %>
    <article class="build <%= job.color %>"> 
      <section class="container">       
        <h2><a href="<%= job.url %>"><%= job.displayName %></a></h2>
        <% if job.color == "red" && job.lastSuccessfulBuild %>
          <% require 'net/http'; require 'uri' %>
          <% res = Net::HTTP.get URI.parse("http://#{job.hudson_host}/job/#{job.name}/#{job.lastSuccessfulBuild["number"] + 1}/changes") %>
          <h3>The last commit was by <%= res.to_s.match(/by \<a href="\/user\/([^\/]*)\//)[1] %></h3>
        <% end %>

        <ul>
          <% if job.description && job.description != "" %>
            <li>
              <h4>Description</h4>
              <span>
              <%= job.description %>
              </span>
            </li>
          <% end %>
          
          <% if job.healthReport && job.healthReport.length != 0 %>
            <li>
              <h4>Health</h4>
              <span>
              <% job.healthReport.each do |health| %>
                <%= health["description"] %> | Score of <%= health["score"] %>
              <% end %>
              </span>
            </li>
          <% end %>
          
          <% if job.lastStableBuild %>
            <li<%= ' class=" buildFailed"' if job.lastCompletedBuild["number"] != job.lastStableBuild["number"] %>>
              <h4>Last Stable</h4>
              <span>
                <a href="<%= job.lastStableBuild["url"] %>"><%= job.lastStableBuild["number"] %></a>
              </span>
            </li>
          <% else %>
            <li class="buildFailed">
              <h4>Last Stable</h4>
              <span>
                No Stable Builds
              </span>
            </li>
          <% end %>
          
          <% if job.lastCompletedBuild %>
            <li>
              <h4>Last Complete</h4>
              <span>
              <a href="<%= job.lastCompletedBuild["url"] %>"><%= job.lastCompletedBuild["number"] %></a>
              </span>
            </li>
            <% end %>
        </ul>
      </section>  
    </article>  
  <% end %>
</body>

</html>